{% extends 'base.html' %}
{% block content %}
<!--container-->
    <div class="container">
      <!--제목-->
        <div class="text-start mb-5">
            <h2>질문 등록</h2>
        </div>

        <form method="post" action="{% url 'pybo:question_create' %}" class="post-form my-3">
            {% csrf_token %}
            <!-- form validation 기능-->
            
            <!-- form validation 기능 end-->
            <button type="submit" class="btn btn-primary btn-sm">저장</button>
        </form>
    </div>
<!--container end-->
{% endblock %}